
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.input-group-append {
cursor: pointer;
}

body{
    margin: 0px;
    color: black;
    background:lightgrey;
   
}

input{
    width: 60%;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    opacity: 90%;
}
label, select {
width:200px;
}
#szul{
width: 60%;
}

.card{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
background-color: white;
text-align: center;
width: 30%;
justify-content: center;
margin: auto;
margin-top: 100px;
border: 2px solid black;
padding: 10px;
border-radius: 15px;


}
h1{
opacity: 60%;

}
#btn{
    width: 50%;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    background-color: red;
}
